{% extends "base.html" %}
{% block title %}
    Doctor
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}
{% endwith %}


<div class="container mt-3">
    <div class="row">
    
    <div class="col-md-4"></div>
    
    <div class="col-md-4 bg-dark-subtle p-5 rounded-lg">
    <br>
    
    <h4 class="text-center text-dark"> Doctor </h4>
    <br>
        <form action="/doctor" method="POST">
            <div class="form-group">
              <label for="doc_id" class="form-label">Doctor ID</label>
              <input type="number" class="form-control" name="doc_id" id="doc_id">
            </div>
            <br>
            <div class="form-group">
                <label for="doc_first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="doc_first_name" id="doc_first_name">
            </div>
            <br>

            <div class="form-group">
                <label for="doc_last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="doc_last_name" id="doc_last_name">
            </div>
            <br>

            <div class="form-group">
                <label for="doc_ph_no" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="doc_ph_no" id="doc_ph_no">
            </div>
            <br>

            <div class="form-group">
                <label for="doc_date" class="form-label">Date</label>
                <input type="date" class="form-control" name="doc_date" id="doc_date">
            </div>
            <br>

            <div class="form-group">
                <label for="doc_address" class="form-label">Address</label>
                <input type="text" class="form-control" name="doc_address" id="doc_address">
            </div>
            <br>

            <div class="d-grid gap-2">
                <input class="btn btn-dark" type="submit" value="Add Doctor"></input>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div></div>

</div>


    <div class="container my-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Ph.No</th>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for d in alldoctor %}
                <tr>
                    <th scope="row">{{d.doc_id}}</th>
                    <td>{{d.doc_first_name}}</td>
                    <td>{{d.doc_last_name}}</td>
                    <td>{{d.doc_ph_no}}</td>
                    <td>{{d.doc_date}}</td>
                    <td>{{d.doc_address}}</td>
                    <td>
                        <a href="/updatedoctor/{{d.doc_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button>
                        <a href="/deletedoctor/{{d.doc_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    



{% endblock body %} 

       