{% extends "base.html" %}
{% block title %}
    HOME
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-3">
    <div class="row">
    
    <div class="col-md-4"></div>
    
    <div class="col-md-4 bg-dark-subtle p-5 rounded-lg">
    <br>
    
    <h4 class="text-center text-dark"> Roooms </h4>
    <br>
    <form action="/room" method="POST">
        <div class="form-group">
          <label for="room_no" class="form-label">Room Number</label>
          <input type="number" class="form-control" name="room_no" id="room_no">
        </div>
        <br>

        <div class="form-group">
            <label for="room_type" class="form-label">Type</label>
            <input type="string" class="form-control" name="room_type" id="room_type">
        </div>
        <br>

        <div class="form-group">
            <label for="available" class="form-label">Capacity</label>
            <input type="number" class="form-control" name="available" id="available">
        </div>
        <br>
        <div class="d-grid gap-2">
            <input class="btn btn-dark" type="submit" value="Add Room"></input>
        </div>
    </form>
</div>
<div class="col-md-4"></div></div>

</div>

<div class="container my-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Room No.</th>
            <th scope="col">Type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for r in allroom %}
            <tr>
                <th scope="row">{{r.room_no}}</th>
                <td>{{r.room_type}}</td>
                <td>{{r.available}}</td>
                <td>
                    <a href="/updateroom/{{r.room_no}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button>
                    <a href="/deleteroom/{{r.room_no}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}