{% extends "base.html" %}
{% block title %}
Undergoes
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-3">
    <div class="row">
    
    <div class="col-md-4"></div>
    
    <div class="col-md-4 bg-dark-subtle p-5 rounded-lg">
    <br>
    
    <h4 class="text-center text-dark"> Undergoes </h4>
    <br>
    <form action="/undergoes" method="POST">
        <div class="form-group">
          <label for="under_id" class="form-label">Undergoes ID</label>
          <input type="number" class="form-control" name="under_id" id="under_id">
        </div>
        <br>

        <div class="form-group">
            <label for="pat_id" class="form-label">Patient ID</label>
            <input type="number" class="form-control" name="pat_id" id="pat_id">
        </div>
        <br>

        <div class="form-group">
            <label for="proc_code" class="form-label">Procedure Code</label>
            <input type="number" class="form-control" name="proc_code" id="proc_code">
        </div>
        <br>

        <div class="form-group">
            <label for="u_date" class="form-label">Date</label>
            <input type="date" class="form-control" name="u_date" id="u_date">
        </div>
        <br>

        <div class="form-group">
            <label for="doc_id" class="form-label">Doctor ID</label>
            <input type="number" class="form-control" name="doc_id" id="doc_id">
        </div>
        <br>

        <div class="form-group">
            <label for="nur_id" class="form-label">Nurse ID</label>
            <input type="number" class="form-control" name="nur_id" id="nur_id">
        </div>
        <br>

        <div class="form-group">
            <label for="room_no" class="form-label">Room Number</label>
            <input type="number" class="form-control" name="room_no" id="room_no">
        </div>
        <br>
        <div class="d-grid gap-2">
            <input class="btn btn-dark" type="submit" value="Add Undergoes"></input>
        </div>
        </form>
    </div>
    <div class="col-md-4"></div></div>

</div>

<div class="container my-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Under. Id</th>
            <th scope="col">Pat. ID</th>
            <th scope="col">Proc. Code</th>
            <th scope="col">Date</th>
            <th scope="col">Doc. ID</th>
            <th scope="col">Nur. ID</th>
            <th scope="col">Room No.</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for u in allundergoes %}
            <tr>
                <th scope="row">{{u.under_id}}</th>
                <td>{{u.pat_id}}</td>
                <td>{{u.proc_code}}</td>
                <td>{{u.u_date}}</td>
                <td>{{u.doc_id}}</td>
                <td>{{u.nur_id}}</td>
                <td>{{u.room_no}}</td>
                <td>
                    <a href="/updateundergoes/{{u.under_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button>
                    <a href="/deleteundergoes/{{u.under_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock body %}