{% extends "base.html" %}
{% block title %}
    HOME
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-3">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-dark-subtle p-5 rounded-lg">
    <br>
    <h4 class="text-center text-dark"> Update Patient </h4>
    <br>
    <form action="/updatepatient/{{p.pat_id}}" method="POST">
        <div class="mb-3">
            <div class="form-group">
                <label for="pat_first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="pat_first_name" id="pat_first_name" value="{{p.pat_first_name}}">
            </div>
            <div class="form-group">
                <label for="pat_last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="pat_last_name" id="pat_last_name" value="{{p.pat_last_name}}">
            </div>
            <div class="form-group">
                <label for="pat_insurance_no" class="form-label">Insurance Number</label>
                <input type="text" class="form-control" name="pat_insurance_no" id="pat_insurance_no" value="{{p.pat_insurance_no}}">
            </div>
            <div class="form-group">
                <label for="pat_ph_no" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="pat_ph_no" id="pat_ph_no" value="{{p.pat_ph_no}}">
            </div>
            <div class="form-group">
                <label for="pat_date" class="form-label">Date</label>
                <input type="date" class="form-control" name="pat_date" id="pat_date" value="{{p.pat_date}}">
            </div>
            <div class="form-group">
                <label for="pat_address" class="form-label">Address</label>
                <input type="text" class="form-control" name="pat_address" id="pat_address" value="{{p.pat_address}}">
            </div>
        </div>
      
      <div class="d-grid gap-2">
          <input class="btn btn-dark" type="submit" value="Update"></input>
        </div>
    </form>

    <div class="col-md-4"></div></div>
</div>

{% endblock body %}