{% extends "base.html" %}
{% block title %}
    HOME
{% endblock title %}

{% block body %}

<div class="container mt-3">

    <div class="row">
    
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-dark-subtle p-5 rounded-lg ">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <h2 class="text-center text-dark">Doctors Booking</h2>
    
    <br>
    <form action="/doctors" method="POST">
    
    <div class="form-group">
    <input type="email" class="form-control" name="email" value={{current_user.email}}  required>
    </div>
    <br>
    
    <div class="form-group">
    <input type="text" class="form-control" name="doctorname" placeholder="Doctor Name" required>
    </div>
    <br>
        
    <div class="form-group">
    <input type="text" class="form-control" name="dept" placeholder="Doctor's Department" required>
    </div>
    <br>
    
    <div class="d-grid gap-2">
        <input class="btn btn-dark" type="submit" value="Book"></input>
    </div>
    <br>

    </form>
    
    </div>
    <div class="col-md-4"></div>
    
    </div>
    
    </div>

{% endblock body %}