{% extends "base.html" %}
{% block title %}
    HOME
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}
{% endwith %}

<div>
    <div class="container my-4">
        <form action="/nurse" method="POST">
            <div class="form-group">
              <label for="nurd" class="form-label">Nurse ID</label>
              <input type="number" class="form-control" name="nur_id" id="nur_id">
            </div>
            <div class="form-group">
                <label for="nur_first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="nur_first_name" id="nur_first_name">
            </div>
            <div class="form-group">
                <label for="nur_last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="nur_last_name" id="nur_last_name">
            </div>
            <div class="form-group">
                <label for="nur_ph_no" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="nur_ph_no" id="nur_ph_no">
            </div>
            <div class="form-group">
                <label for="nur_date" class="form-label">Date</label>
                <input type="date" class="form-control" name="nur_date" id="nur_date">
            </div>
            <div class="form-group">
                <label for="nur_address" class="form-label">Address</label>
                <input type="text" class="form-control" name="nur_address" id="nur_address">
            </div>
            <button type="submit" class="btn btn-primary">Add Nurse</button>
        </form>
    </div>

    <div class="container my-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Ph.No</th>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for n in allnurse %}
                <tr>
                    <th scope="row">{{n.nur_id}}</th>
                    <td>{{n.nur_first_name}}</td>
                    <td>{{n.nur_last_name}}</td>
                    <td>{{n.nur_ph_no}}</td>
                    <td>{{n.nur_date}}</td>
                    <td>{{n.nur_address}}</td>
                    <td>
                        <a href="/updatenurse/{{n.nur_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button>
                        <a href="/deletenurse/{{n.nur_id}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock body %} 

       